<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <div class="wrapper">
        <h2>Take the Dojo Survey!</h2>
        <div class="inputs">
            <form action="/result" method="post">
                <div class="section">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="section">
                    <label for="location">Your Location:</label>
                    <select id="location" name="location">
                        <option value="Seattle">Seattle</option>
                        <option value="San Jose">San Jose</option>
                        <option value="DC">DC</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Los Angeles">Los Angeles</option>
                        <option value="Orange County">Orange County</option>
                        <option value="Online">Online</option>
                    </select>
                </div>
                <div class="section">
                    <label for="language">Your Favorite Language:</label>
                    <select name="language" id="language">
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="C#">C#</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Java">Java</option>
                        <option value="HTML/CSS">HTML/CSS</option>
                    </select>
                </div>
                <div class="section">
                    <label id="comment-label" for="comment">Comment (optional):</label>
                    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                </div>
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>