* {
    margin: 0;
    padding: 0;
    /* border: 1px dashed red; */
}
body {
    width: 960px;
}

h2, h5 {
    margin-top: 20px;
}

h3 {
    margin-top: 50px;
}

h4 {
    margin-top: 10px;
}

.wrapper {
    width: 960px;
}

.box {
    text-align: center;
    display: inline-block;
    width: 225px;
    height: 225px;
    margin: 20px 0;
    margin-left: 7.25px;
}

.btn {
    margin-top: 50px;
    width: 100px;
    height: 35px;
}

.red {
    color: red;
}

.green {
    color: green;
}

#farm {
    background-color: rgb(26, 188, 156);
}

#cave {
    background-color: rgb(46, 204, 113);
}

#house {
    background-color: rgb(52, 152, 219);
}

#casino {
    background-color: rgb(155, 89, 182);
}

#activities {
    margin: 0 8px;
}