* {
    margin: 10px;
    padding: 0;    
}

body {
    width: 960px;
    text-align: center;
}

}
.wrapper {
    width: 948px;
}

.section {
    text-align: center;

}

.btn {
    background-color: aquamarine;
    width: 60px;
    height: 25px;
}

#hide {
    visibility: hidden;
}